appdirs==1.4.4
beautifulsoup4==4.13.3
blinker==1.9.0
bs4==0.0.2
click==8.1.8
fasteners==0.19
flake8==7.2.0
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
mccabe==0.7.0
numpy==2.2.4
packaging==24.2
pycodestyle==2.13.0
pydeck==0.9.1
pyflakes==3.3.2
soupsieve==2.6
typing_extensions==4.13.0
waitress==3.0.2
Werkzeug==3.1.3
