<!DOCTYPE html>
<html lang="es-CL">

<head>
    {% block head %}
    {% include "_head.html" %}
    {% endblock %}
    {{ headers|safe }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fnb.css') }}?v=2">
</head>

<body>
    <div class="content">

        <a href="/">
            <img src="{{ url_for('static', filename='img/bikepoint.png') }}" alt="Logo" class="logo">
        </a>

        {% block navbar %}
        {% include "_navbar.html" %}
        {% endblock %}

        <div class="navbar-space"></div>

        {% if not info %}
        <div class="table" style="margin-top: 15px;">
            <b class="table-title">Sobre el FNB 2025</b>
            <p style="margin-top: 10px; text-align:justify">
                Este foro es un testimonio de la perseverancia de la sociedad civil, que a pesar de las negativas, ha
                posicionado el ciclismo como una alternativa viable en una ciudad en que se pensaba imposible pedalear.
            </p>
        </div>
        {% endif %}

        <div class="service-form">
            <form method="get" action="{{ url_for('fnb') }}">
                <div class="form-group">
                    <label class="form-label" for="service-selector">Seleccione una opción</label>
                    <select class="form-select" id="service-selector" name="service" onchange="this.form.submit()">
                        <option value="all">Todos</option>
                        {% for type, service in services.items() %}
                        <option label="{{ type }}" class="type-label" {%if selected==type %}selected{% endif %}>
                            {{ type }}
                        </option>

                        {% for s in service %}
                        <option value="{{ s }}" {% if selected==s %}selected{% endif %}>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ s }}
                        </option>
                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>

        {% if info %}
        <div class="table">
            {% if info.0 == 'hostal' %}
            <div class="table-container">
                <table class="info-table">
                    <thead>
                        <tr>
                            <th>Habitación</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in info.1 %}
                        <tr>
                            <td>
                                {{ i.name | replace(' (', '<br><span class="detail-small">') | replace(')', '</span>')
                                | safe }}
                            </td>
                            <td>
                                CLP ${{ "{:,.0f}".format(i.price).replace(",", ".") }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% elif info.0 == 'fnb' %}
            <div class="table-container">
                <table class="info-table">
                    <thead>
                        <tr>
                            <th>Actividad</th>
                            <th>Día</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in info.1 %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.day }}</td>
                            <td>{{ i.time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if footer %}
            {% for text in footer %}
            <p class="paragraph">{{ text | safe }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}

        <div class="map-content">
            {{ map|safe }}
        </div>
    </div>
</body>