{% extends "_base.html" %}

{% block content %}
<div class="content">
    <!-- Ilustración principal -->
    <img src="{{ url_for('static', filename='img/front-page.png') }}" alt="Descubre Valparaíso"
        class="main-illustration">

    <!-- Contenido principal (lado derecho) -->
    <div class="main-content">
        <h1 class="main-title"><br>¡Ven al FNB 2025 en Valparaíso!</h1>

        <!-- <div class="button-group">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Inicia sesión</a>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Regístrate</a>
        </div> -->
        <div class="button-group" style="margin-bottom: -3%;">
            <a href="{{ url_for('fnb') }}" class="btn btn-primary">¡Foro Nacional de la Bicicleta 2025!</a>
        </div>
        <div class="button-group">
            <a href="{{ url_for('memt') }}" class="btn btn-secondary">MEMT</a>
            <a href="{{ url_for('proyecto') }}" class="btn btn-secondary">Valparaíso Cicloamigable</a>
        </div>
    </div>
</div>
{% endblock %}