<!DOCTYPE html>
<html lang="es-CL">

<head>
    {% block head %}
    {% include "_head.html" %}
    {% endblock %}
    {{ headers|safe }}
</head>

<body>
    <div class="content">

        <a href="/">
            <img src="{{ url_for('static', filename='img/bikepoint.png') }}" alt="Logo" class="logo">
        </a>

        {% block navbar %}
        {% include "_navbar.html" %}
        {% endblock %}

        <div class="map-content">
            {{ map|safe }}
        </div>
    </div>
</body>