{% extends "_base.html" %}

{% block content %}
<div class="content">
    <!-- Ilustración principal -->
    <img src="{{ url_for('static', filename='img/about.png') }}" alt="Descubre Valparaíso" class="about-illustration">

    <!-- Contenido principal (lado derecho) -->
    <div class="about-content">
        <h1 class="second-title">Sobre el proyecto</h1>

        <p class="paragraph">
            Valparaíso Cicloamigable nace ante la necesidad de derribar los mitos de que la comuna no es pedaleable debido a sus inclinadas calles.<br>
            Hola mundo
        </p>
    </div>
</div>
{% endblock %}